# Balanced
on property:perf_profile=0
    write /sys/class/kgsl/kgsl-3d0/throttling 1

    write /proc/sys/kernel/sched_upmigrate "95 95"
    write /proc/sys/kernel/sched_downmigrate "85 85"

    # skin-therm
    write /sys/class/thermal/thermal_zone73/cdev0_upper_limit 12
    write /sys/class/thermal/thermal_zone73/cdev1_upper_limit 15

    setprop vendor.display.enable_rotator_ui 0

# Gaming
on property:perf_profile=1
    write /sys/class/kgsl/kgsl-3d0/throttling 0

    write /proc/sys/kernel/sched_upmigrate "96 88"
    write /proc/sys/kernel/sched_downmigrate "55 66"

    # skin-therm
    write /sys/class/thermal/thermal_zone73/cdev0_upper_limit 00
    write /sys/class/thermal/thermal_zone73/cdev1_upper_limit 00

    setprop vendor.display.enable_rotator_ui 1
